# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
yatl-react/node_modules
yatl-react/.pnp
yatl-react/.pnp.js

# testing
yatl-react/coverage

# production
yatl-react/build

# misc
yatl-react/.DS_Store
yatl-react/.env.local
yatl-react/.env.development.local
yatl-react/.env.test.local
yatl-react/.env.production.local

yatl-react/npm-debug.log*
yatl-react/yarn-debug.log*
yatl-react/yarn-error.log*
